<div class="center">Consult a Doctor</div>
        <div class="selector1">
         <mat-form-field>
           <mat-select placeholder="Select Speciality">
             <mat-option *ngFor="let specialist of specialist" [value]="specialist.value">
               {{specialist.viewValue}}
             </mat-option>
           </mat-select>
         </mat-form-field>
       </div>
       <div class="selector2">
             <mat-form-field>
               <mat-select placeholder="Select Gender">
                 <mat-option *ngFor="let gender of gender" [value]="gender.value">
                   {{gender.viewValue}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
         </div>
